@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700,700i|Oswald:700');
html, body {
    width: 100%;
    height: 100%;
}

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}
body {
}
* {
    box-sizing: border-box;
}
::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


.front-page{
    width: 100%;
    position: relative;
    z-index: 100;
    background: url(../img/background.jpg);
    background-position: center;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.top {
    transform: translateY(-120%);
}
.front-page .box {
    width: 60%;
}
.box img {
    width: 100%;
}

.undr {
    height: 4em;
    width: 4em;
    position: absolute;
    bottom: 5em;
    cursor: pointer;
}

.footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    padding: 0 2em;
    font-family: "Merriweather", serif;
}
.footer .footer-text {
    color: #fff;
    font-size: 0.75em;
    line-height: 4;
}

.footer-text a {
    color: #fff;
    text-decoration: none;
}
.footer-text a:hover {
    text-decoration: underline;
}


.fl-left {
    float: left;
}
.fl-right {
    float: right;
}


@-webkit-keyframes hvr-wobble-vertical {
  16.65% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }

  33.3% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }

  49.95% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }

  66.6% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }

  83.25% {
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes hvr-wobble-vertical {
  16.65% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }

  33.3% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }

  49.95% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }

  66.6% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }

  83.25% {
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.hvr-wobble-vertical {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
}
.hvr-wobble-vertical:hover, .hvr-wobble-vertical:focus, .hvr-wobble-vertical:active {
  -webkit-animation-name: hvr-wobble-vertical;
  animation-name: hvr-wobble-vertical;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

#main {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}
.hf-1, hf-2 {
    width: 50%;
    height: 100%;
    padding: 5em;
}
.hf-1 {
    float: left;
    background-color: #0091ea;
    color: #fff;
}
.hf-1 h1 {
    font-family: "Oswald";
    font-size: 4em;
}
.hf-1 h1::after {
    content: "";
    width: 100px;
    height: 10px;
    background-color: #fff;
    display: block;
    margin-top: 0.2em;
}
.hf-1 p {
    font-family: "Merriweather", serif;
}
.hf-1 #sub-header {
    font-weight: bold;
}
.hf-1 a {
    color: #fff;
    font-weight: bold;
    text-decoration: none;
}
.hf-2 {
    float: right;
    background-color: #fff;
}
.hidden {
    display: none !important;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}


.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

@media only screen and (max-width: 800px) {
    /* Style adjustments for viewports that meet the condition */
    .hf-1, .hf-2 {
        float: none;
        width: 100%;
        min-height: 50%;
    }
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
